/* ===== Typography ===== */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
    margin: 0;
}

h1,
h2,
h3 {
    color: var(--color-secondary600);
    font-weight: var(--font-heading-bold);
}

h1 {
    font-size: var(--text-h1);
    line-height: var(--text-h1-line);
}

h2 {
    font-size: var(--text-h2);
    line-height: var(--text-h2-line);
}

h3 {
    font-size: var(--text-h3);
    line-height: var(--text-h3-line);
}

h4,
h5,
h6 {
    color: var(--color-secondary500);
    font-weight: var(--font-heading-medium);
}

h4 {
    font-size: var(--text-h4);
    line-height: var(--text-h4-line);
}

h5 {
    font-size: var(--text-h5);
    line-height: var(--text-h5-line);
}

h6 {
    font-size: var(--text-h6);
    line-height: var(--text-h6-line);
}