@import "./theme.css";
@import "./base/_reset.css";
@import "./base/_typography.css";
@import "./base/_layout.css";

@import "./components/ui/_buttons.css";
@import "./components/cards/_card.css";
@import "./components/layout/_header-footer.css";
@import "./components/pages/_product-detail.css";
@import "./components/pages/_purchase-detail.css";
@import "./components/pages/_auth.css";